
/* Popup style */
.popup-box {
  // background: #177bfd50;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  animation: hidden 5s linear;
  position: fixed;
  background: #00000050;
  top: 0;
  left: 0;
  
}
 
.box {
  

 

  padding: 20px;


  font-size: 35px;
  color: antiquewhite;

  max-width: 800px;

  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: rgb(73, 40, 40);
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
  

  animation: popUp 1s ease-in
}







@keyframes popUp{
  
  
   0%{
    // color: orange;
    
    width: 0;
    height: 0;
    // height: 0;

   }50%{
    height: 0;
    width: 100%;
    

   }
   100%{
      // color: blue;
      
      height: 50%;
   }
}

 


#popupProfilePic{
    border-radius: 150px;
}

