.App {
  text-align: center;
  /* justify-content: center; */
  /* max-width: 2000px; */
  /* border: solid 5px rgb(0, 247, 74); */
}

.contentHolder{
  max-width: 4000px;
  /* min-width:2000px; */
  /* border: solid 5px blue; */
  display: inline-block;
}

.contentHolder > *{
  /* border-style: solid; */
}

/* .App,
.App > *{
  border: none;
} */

/* Borders on everything */
/* * { border: 1px solid black; } */
