@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.portfolioWrapper{
    // display: flex;
    height: 100vh;
    // border: solid coral 5px;
    position: relative;
    // justify-content: center;
    
    
}

.pillar{
  display: inline-block;
  margin-bottom:0;
}

.projectImage{
  border:solid 2px black;
}

.portfolioTitle{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 15px;
  display: inline-block;
  border-bottom: 5px solid;
  padding-left: 50px;
  padding-right: 50px;
}

.portfolioGrid{
    display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;

}

.listItem{
  text-align: left;
}

.tableHeader{
  margin-bottom: 0%;
}

.rowItem{
  padding-left: 10px;
  padding-right: 10px;
  // border: solid 5px;
}

.rowItem:hover{
  border-bottom: solid 1px ;
}



.gridItemRight{
    margin-left: 15px;
    margin-right: 0;
    margin-top: 15px;
    // flex: 1;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 200px;
    width: 30%;
    background-image: url('./codingTile.jpg');
  }
  .gridItemLeft{
    // flex: 2;
    display: inline-block;
    margin-right: 0;
    margin-Left: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 200px;
    width: 30%;
    background-image: url(../images/airforce.png);
  }

 

  // .portfolioTiles{
  //   margin-top: 5%;

  // }

  .frameworkIcons{
    margin-top: 15px;
  }



  .iconHolder{
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: inline-block;
    // border-style: solid;

  }
  
 

  .icon{
    margin: auto 0;
    margin-top:12%;
    height: 100px;
    width: 100px;
    filter: grayscale(1.0);;
  }

  .iconHolder:hover >.icon{
    animation: iconColor 1s forwards;

  }

  @keyframes iconColor{
    0%{

    }100%{
      filter:none; 
    }
  }

  .iconName{
    font-size: 50px;
    border: solid 4px;
    position: absolute;
    width: 200px;
    z-index: 3;

  }

  .iconHolder:hover > .iconName{
    animation: iconHover 3s forwards;
  }


@keyframes iconHover{
  0%{

  }100%{
    border: solid 4px;
    width: 200px;
    background-color: grey;
    
    border-radius:10%;

  }
}


