@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.introductionWrapper{
    display: flex;
    height: 100vh;
    // border-style: solid;
    // border-color: coral;
    position: relative;
    // max-width: 2000px;
    // text-align: center;
    width: 100%;
    // display: inline-block;
    justify-content: space-evenly;
   
    
}



.picHolder{
    height: 100%;
    // border-style: solid;
    width: 50%;
    animation: fadePic 2s forwards;
    
}

@keyframes fadePic{
    0%{
        opacity: 0;
    }100%{
        opacity: 1;

    }
}

.profilepic{
    
    display: inline-block;
    // border-style: solid;
    max-width: 800px;
    height: 800px;
    border-radius: 75%;
    margin-top: 7%;
    animation: picFloat 4s infinite ease-in-out
}

@keyframes picFloat{
    0%{
        padding-top: none;

    }50%{
        padding-top: 30px;

    }
    100%{
        padding-top: none;
        

    }
}

.greeting{
    color: white;
    font-family: 'Montserrat';
    display: inline-block;
    width: 45%;
    // margin-top: 22%;
    // margin-left: auto; 
margin-left: 5%;
// border-style: solid;
margin-top: 10%;
font-size: 50px;
animation: greetingAnimation 1s forwards;
  
}

@keyframes greetingAnimation{
    0%{
        opacity: 0;
        margin-right: 15%;

    }100%{
        margin-right: 0%;
        opacity: 1;

    }
}

// .greeting > *{
//     overflow: hidden;
//     border-right: .15em solid orange;
//     animation: 
//     typing 3.5s steps(15, end),
//     blink-caret .5s step-end infinite;
// }

// @keyframes typing {
//     from { width: 0 }
//     to { width: 100% }
//   }
  
//   /* The typewriter cursor effect */
//   @keyframes blink-caret {
//     from, to { border-color: transparent }
//     50% { border-color: orange }
//     100%{
//         border:none;
//     }
//   }



//THIS MAKES IT SO THAT WHEN THE SCREEN SHRINKS THE DIVS MOVE TO FIT IT
@media only screen and (max-width: 1200px) {
    .introductionWrapper{
        display:contents;
    }
    .profilepic{
        display: inline-block;
        animation: none;
    }
    
}