@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.introductionWrapper{
    display: flex;
    height: 90vh;
    // border-style: solid;
    // border-color: coral;
    position: relative;
    // max-width: 2000px;
    // text-align: center;
    width: 100%;
    // display: inline-block;
    justify-content: space-evenly;
   
    
}

// .contentHolder{
//     // display: flex;
//     height: 100vh;
//     border-style: solid;
//     position: relative;
//     // max-width: 2000px;
//     text-align: center;

// }

.picHolder{
    height: 100%;
    // border-style: solid;
    width: 50%;
    
}

.profilepic{
    
    display: inline-block;
    // border-style: solid;
    max-width: 800px;
    height: 800px;
    border-radius: 75%;
    margin-top: 15%;
    // -ms-transform: translateY(-50%);
    // transform: translateY(-50%);
}

.greeting{
    color: white;
    font-family: 'Montserrat';
    display: inline-block;
    width: 45%;
    // margin-top: 22%;
    // margin-left: auto; 
margin-left: 5%;
// border-style: solid;
margin-top: 10%;
font-size: 50px;
  
}



//THIS MAKES IT SO THAT WHEN THE SCREEN SHRINKS THE DIVS MOVE TO FIT IT
@media only screen and (max-width: 1200px) {
    .introductionWrapper{
        display:contents;
    }
    .profilepic{
        display: inline-block;
    }
    .greeting{
        
    }
    
}